  <!-- <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button id="englandSelect" class="btn btn-sm btn-outline-secondary" type="button">England </button>
      <button id="spainSelect" class="btn btn-sm btn-outline-secondary" type="button">Spain </button>
      <button id="germanySelect" class="btn btn-sm btn-outline-secondary" type="button">Germany </button>
      <button id="franceSelect" class="btn btn-sm btn-outline-secondary" type="button">France </button>
      <button id="italySelect" class="btn btn-sm btn-outline-secondary" type="button">Italy </button>
    </form>
  </nav> -->